---
import IconPerson from "../icons/IconPerson.astro";
---

<section class="bg-[#FFFFFF] top-0 start-0 border-y-[2.3px] border-[#021E1E]">
    <div
      class="max-w-screen-2xl flex items-center justify-between mx-auto p-3 relative"
    >
      <div class="flex items-center space-x-3 rtl:space-x-reverse">
        <!-- <IconDev /> -->
        <h2
          class="text-1xl font-bold text-center sm:text-4xl xl:text-[30px] rounded px-2 py-1 max-w-md mx-auto"
        >
        Sobre mí
        </h2>
      </div>
  
      <!-- Menu button for small screens -->
      <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
        <h4 class="font-medium text-[20px]">
            Permíteme contarte algo más sobre mi historia :)
        </h4>
      </div>
    </div>
  </section>

  <section class="w-full flex items-center justify-center bg-gray-100 mt-24">
    <div class="container mx-auto px-4 md:px-6 flex flex-col md:flex-row items-center justify-center text-center md:text-left">
      
        <!-- Contenido de presentación -->
        <div class="max-w-2xl">
            <p class="mt-4 text-lg">
                ¡Hola! mi nombre es <strong>José Luis Cardona Victoria</strong>, un <strong>Desarrollador Full Stack</strong> con más de <strong>4 años de experiencia</strong> creando <strong>soluciones escalables y de alto rendimiento</strong>. 
                Me especializo en <strong>Java, Angular, Spring Boot, Microservicios y entre otras tecnologias</strong>, y mi misión es desarrollar software que haga la diferencia.
            </p>
            <p class="mt-2">
                Actualmente lidero <strong>Aurora</strong>, un <strong>SaaS innovador</strong> que combina <strong>POS, facturación electrónica, chatbot con IA y automatización de procesos</strong> para transformar la gestión empresarial.
                Además, ayudo a empresas a modernizarse con tecnología de vanguardia.
            </p>
            <p class="mt-2">
                Me apasiona la <strong>tecnología, la innovación y los retos</strong>. Busco <strong>proyectos desafiantes</strong> donde pueda aportar mi experiencia y aprender algo nuevo cada día.
            </p>
            <p class="mt-2">
                Fuera del código y la TI, disfruto de la <strong>música y los viajes</strong>. Siempre estoy en búsqueda de <strong>nuevos desafíos</strong> que me inspiren a seguir creciendo.
            </p>
        </div>
    
        <!-- Imagen o SVG -->
        <div class="mt-10 md:mt-0 md:ml-12 w-72 h-72">
          <IconPerson />
        </div>
    
      </div>
</section>