---
import IconApp from "../icons/IconApp.astro";
import IconMenu from "../icons/IconMenu.astro";
import IconService from "../icons/IconService.astro";
import IconContact from "../icons/IconContact.astro";
import IconAboutAurora from "../icons/IconAboutAurora.astro";
import IconPlans from "../icons/IconPlans.astro";
import IconCash from "../icons/IconCash.astro";
import IconDev from "../icons/IconDev.astro";
//IconPlans
---

<nav
  class="bg-[#FFFFFF] fixed w-full z-30 top-0 start-0 border-b-[2.3px] border-[#021E1E]"
>
  <div
    class="max-w-screen-2xl flex items-center justify-between mx-auto p-3 relative"
  >
    <!-- Logo and Home Link -->
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <!-- <IconDev /> -->
         <h1 class="text-4xl font-medium ">Jose Cardona</h1>
    </a>

    <!-- Menu button for small screens -->
    <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
      <button
        id="menu-button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="menu-open"
        aria-expanded="false"
        aria-label="Toggle menu"
      >
        <span class="sr-only">Abrir menú principal</span>
        <IconMenu />
      </button>
    </div>

    <!-- Dropdown menu inside the same block for larger screens -->
    <div
      id="menu-open"
      class="hidden md:flex md:w-auto md:order-1 md:ml-auto md:flex-row bg-[#FFFFFF] border-b-[2.3px] border-[#F3F4F6] flex-col w-full md:mt-0 font-medium md:space-x-8 rtl:space-x-reverse z-30 md:border-0 absolute md:static left-0 right-0 top-full md:top-auto"
    >
      <ul
        class="w-full h-full md:w-auto flex flex-col md:flex-row p-4 md:p-0 mt-1 font-medium space-y-5 md:space-y-0 
        space-x-0 sm:space-x-2 md:space-x-5 lg:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 space-x-0-custom"
      >
      <li class="border-b sm:border-none">
        <a
          href="#gallery"
          class="btn flex items-center py-2 px-3 font-bold text-[#021E1E] rounded text__glowing mb-3 md:mb-0"
          >
          <IconAboutAurora />
          Experiencia</a
        >
      </li>
        
        <li class="border-b sm:border-none">
          <a
            href="/contact"
            class="btn flex items-center py-2 px-3 font-bold text-[#021E1E] rounded text__glowing mb-3 md:mb-0"
            >
            <IconContact />
            Sobre mí</a
          >
        </li>
     
        <li class="border-b sm:border-none">
          <a
            href="#gallery"
            class="btn flex items-center py-2 px-3 font-bold text-[#021E1E] rounded text__glowing mb-3 md:mb-0"
            >
            <IconPlans />
            Proyectos</a
          >
        </li>
        <li class="border-b sm:border-none">
            <a
              href="#gallery"
              class="btn flex items-center py-2 px-3 font-bold text-[#021E1E] rounded text__glowing mb-3 md:mb-0"
              >
              <IconCash />
              Blog</a
            >
          </li>
          <li class="border-b sm:border-none">
            <a
              href="#about"
              class="btn flex items-center py-2 px-3 font-bold text-[#021E1E] rounded text__glowing mb-3 md:mb-0"
              aria-current="page">
              <IconService />
              CV</a
            >
          </li>
        <li class="pt-3 pb-1 sm:p-0">
          <a
            href="#gallery"
            class="btn block py-2 px-4 font-bold text-[#021E1E] hover:text-white shadow-[0px_4px_1px_1px_#8CC246] border-2 border-primary hover:bg-[#8CC246] bg-[#A5E35C] border-[#8CC246]"
            >Contacto</a
          >
        </li>
    
      </ul>
    </div>
  </div>
</nav>

<!-- Script to toggle the menu on small devices -->
<script>
  // Function to toggle the visibility of the menu
  const toggleMenu = () => {
    const menuOpen = document.querySelector("#menu-open");
    menuOpen?.classList.toggle("hidden");
  };

  // Function to initialize the navigation events
  const initNav = () => {
    const button = document.querySelector("#menu-button");

    // Add click event to the menu button
    button?.addEventListener("click", toggleMenu);
  };

  // Initialize the menu when the document is ready
  document.addEventListener("DOMContentLoaded", initNav);
</script>
