<section class="bg-[#FFFFFF] top-0 start-0 border-y-[2.3px] border-[#021E1E]">
  <div
    class="max-w-screen-2xl flex items-center justify-between mx-auto p-3 relative"
  >
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
      <!-- <IconDev /> -->
      <h2 class="text-1xl font-bold text-center sm:text-4xl xl:text-[30px]  rounded px-2 py-1 max-w-md mx-auto">
        Proyectos
    </h2>
    </div>

    <!-- Menu button for small screens -->
    <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
      <h4 class="font-medium text-[20px]">Experiencia / Innovación / Ideación</h4>
    </div>
  </div>
</section>
<section class="bg-[#FFFFFF]">
    <h2>asasas</h2>
</section>