<section class="bg-[#FFFFFF] top-0 start-0 border-y-[2.3px] border-[#021E1E]" id="personal-projects">
  <div
    class="max-w-screen-2xl flex items-center justify-between mx-auto p-3 relative"
  >
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
      <!-- <IconDev /> -->
      <h2
        class="text-1xl font-bold text-center sm:text-4xl xl:text-[30px] rounded px-2 py-1 max-w-md mx-auto"
      >
        Proyectos
      </h2>
    </div>

    <!-- Menu button for small screens -->
    <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
      <h4 class="font-medium text-[18px]">
        Experiencia / Innovación / Ideación
      </h4>
    </div>
  </div>
</section>
<section class="bg-[#FFFFFF] w-full py-10 flex justify-center">
  <div
    data-aos="fade-up"
    class="container grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-16 md:mt-20 max-w-[90rem]"
  >
    <a
      href="https://josecardon.github.io/wiki-clone/"
      target="_blank"
      class="bg-primaryColor p-6 rounded-xl shadow-[0px_4px_1px_1px_#021B20] border-2 border-primary transition-transform transform hover:scale-105 hover:translate-y-2 mb-6"
    >
      <div
        class="flex flex-col items-center space-y-6 sm:flex-row sm:items-start sm:justify-between"
      >
        <div class="flex flex-col items-center sm:items-start">
          <h3
            class="text-xl font-semibold text-primary bg-[#8CC246] rounded px-2 py-1 max-w-[171px] text-center sm:text-left"
          >
            Wiki Clone
          </h3>
          <p class="text-primary text-base mt-8 text-center sm:text-left">
            Aplicación web que permite consultar artículos de Wikipedia en
            tiempo real utilizando la API pública de Wikipedia. Desarrollada con
            Angular, ofrece una experiencia de usuario fluida y moderna,
            integrando tecnologías clave para manejo de datos asíncronos y
            diseño responsivo.
          </p>
        </div>

        <div class="flex items-center justify-center sm:items-center sm:ml-4">
          <img
            src="/img/WikiClone.png"
            alt="Img App WIki Clone"
            class="w-full h-auto max-w-full max-h-[55rem] py-14"
          />
        </div>
      </div>
    </a>

    <a
      href="https://landing-page-juandi.vercel.app/#"
      target="_blank"
      class="bg-[#8CC246] p-6 rounded-xl shadow-[0px_4px_1px_1px_#021B20] border-2 border-primary transition-transform transform hover:scale-105 hover:translate-y-2 mb-6"
    >
      <div
        class="flex flex-col items-center space-y-6 sm:flex-row sm:items-start sm:justify-between"
      >
        <div class="flex flex-col items-center sm:items-start">
          <h3
            class="text-xl font-semibold text-primary bg-[#FFFFFF] rounded px-2 py-1 max-w-[171px] text-center sm:text-left"
          >
          Empire Lawyers
          </h3>
          <p class="text-primary text-base mt-8 text-center sm:text-left">
            Landing page corporativa desarrollada con React que presenta los servicios profesionales 
            de Empire Lawyers. Plataforma moderna que combina diseño estratégico con tecnología de vanguardia para mostrar 
            nuestra especialización en derecho corporativo, protección de activos y asesoría legal integral. 
            Desarrollada con React y TypeScript, implementa mejores prácticas de performance web y experiencia de usuario.
          </p>
        </div>

        <div class="flex items-center justify-center sm:items-center sm:ml-4">
          <img
            src="/img/Empire-Lawyers.png"
            alt="Img App WIki Clone"
            class="w-full h-auto max-w-full max-h-[55rem] py-14"
          />
        </div>
      </div>
    </a>

    <a
      href="https://luis-adrian.vercel.app/"
      target="_blank"
      class="bg-[#021E1E] p-6 rounded-xl shadow-[0px_4px_1px_1px_#021B20] border-2 border-primary transition-transform transform hover:scale-105 hover:translate-y-2 mb-6"
    >
      <div
        class="flex flex-col items-center space-y-6 sm:flex-row sm:items-start sm:justify-between"
      >
        <div class="flex flex-col items-center sm:items-start">
          <h3
            class="text-xl font-semibold text-primary bg-white rounded px-2 py-1 max-w-[300px] text-center sm:text-left"
          >
            Shoes Victorias(Luis Adrian)
          </h3>
          <p class="text-white text-base mt-8 text-center sm:text-left">
            Landing page desarrollada con Astro y Tailwind CSS que presenta la fusión única de 
            artesanía en calzado y trabajo metalúrgico. La plataforma destaca:
            
            <br><br>
    
            
            Combina la exhibición de calzado femenino personalizado con servicios 
            especializados de cerrajería y marroquinería, utilizando un diseño 
            que refleja la dualidad artesanal-industrial del negocio.
          </p>
        </div>

        <div class="flex items-center justify-center sm:items-center sm:ml-4">
          <img
            src="/img/Shoes.png"
            alt="Img App WIki Clone"
            class="w-full h-auto max-w-full max-h-[55rem] py-14"
          />
        </div>
      </div>
    </a>
  </div>
</section>
